<a href="https://colab.research.google.com/github/MarinaTaques/MarinaTaques/blob/main/Sa%C3%BAde_Ambiental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [338]:
import pandas as pd
import numpy as np

In [339]:
casos = pd.read_csv('chagas.csv', sep= ';')

In [340]:
# Padronizando o dataframe - Casos de doença de Chagas por município por ano
casos.columns = casos.iloc[0]
casos = casos.iloc[1:5].reset_index(drop=True)
del casos['Total']
del casos['Município']
casos.index=['Diadema', 'Nazaré Paulista', 'São Caetano do Sul', 'São Paulo']
casos.columns=[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']]
casos

                     2010   2011   2012   2013  ...   2016 2017 2018 2019
Diadema              18.0   13.0    6.0    7.0  ...   10.0    8    6    3
Nazaré Paulista       NaN    NaN    NaN    NaN  ...    NaN    1    1    1
São Caetano do Sul    1.0    3.0    1.0    1.0  ...    3.0    2    1    2
São Paulo           300.0  302.0  287.0  294.0  ...  253.0  211  199  194

[4 rows x 10 columns]

In [341]:
# Padronizando o dataframe - População para cada município por ano
populacao = pd.read_csv('populacao.csv', sep= ';')
del populacao['2020']
del populacao['Município']
populacao = populacao.iloc[0:4].reset_index(drop=True)
populacao.index=['Diadema', 'Nazaré Paulista', 'São Caetano do Sul', 'São Paulo']
populacao.columns=[['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018','2019']]
populacao

                        2010      2011      2012  ...      2017      2018      2019
Diadema               395789    398959    402160  ...    417912    420934    423884
Nazaré Paulista        16826     17018     17211  ...     18163     18346     18524
São Caetano do Sul    153013    153929    154853  ...    159402    160275    161127
São Paulo           11536254  11617017  11698564  ...  12099887  12176866  12252023

[4 rows x 10 columns]

In [342]:
# Para obtenção de casos a cada 100.000 habitantes por ano, será necessário: 
# multiplicar o valor de casos por 100.000
# dividir o valor pelo número de habitantes

casos_norm = casos.select_dtypes(include=[np.number])*100000
dados = casos_norm.div(populacao )
dados

                        2010      2011      2012  ...      2017      2018      2019
Diadema             4.547878  3.258480  1.491944  ...  1.914279  1.425402  0.707741
Nazaré Paulista          NaN       NaN       NaN  ...  5.505698  5.450779  5.398402
São Caetano do Sul  0.653539  1.948950  0.645774  ...  1.254689  0.623928  1.241257
São Paulo           2.600498  2.599635  2.453293  ...  1.743818  1.634246  1.583412

[4 rows x 10 columns]

In [343]:
# salvando o dataframe e plotando 

dados.to_csv('taxa_de_mortalidade.csv', sep = ';')